@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

body {
    @apply antialiased;
}

.table-header {
    @apply text-xs font-semibold uppercase tracking-wider text-slate-400;
}